.CertificationPage{
    height: auto;
    width: 100%;
    padding-top: 100px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(125, 123, 238); */
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.CertificationPage .CertificationBox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.CertificationPage .CertificationBox .CertiTitle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.CertificationPage .CertificationBox .CertiTitle h1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.CertificationPage .CertificationBox .CertiDetail{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.CertificationPage .CertificationBox .CertiDetail .CertiDetailBox{
    width: 20%;
    margin: 10px 10px;
    height: auto;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.75);
}
.CertificationPage .CertificationBox .CertiDetail .CertiDetailBox a{
    color: #1BFF00;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    opacity: 5px;
    -webkit-box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.75);
}

@media(max-width: 1000px){
    .CertificationPage .CertificationBox .CertiDetail{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .CertificationPage .CertificationBox .CertiDetail .CertiDetailBox{
        width: 50%;
        margin: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        -webkit-box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.75);
    }
}
