.HomePage{
    height: 70em;
    width: 100%;
    position: relative;
    color: white;
    margin-top: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.HomePage .aboutMeBox{
    height: 50%;
    width: 100%;
    /* background-color: rgb(33, 74, 110); */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.HomePage .aboutMeBox .MyImgDiv{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    /* background-color: rgb(30, 187, 161); */
}
.HomePage .aboutMeBox .MyImgDiv .MyIMG{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    /* border:  2px solid #1BFF00; */
    /* box-shadow: 0 0 50px #1BFF00; */
    background-image: url(../IMG/MyImg.png);
    background-size: cover;
}
.HomePage .aboutMeBox .MyInfoDiv{
     height: 50%;
   width: 100%;
    /* background-color: rgb(70, 70, 70); */
}
.HomePage .aboutMeBox .MyInfoDiv .iName{
    color: #1BFF00;
}
.HomePage .aboutMeBox .MyInfoDiv .nameHover{
    cursor: pointer;
}
.HomePage .aboutMeBox .MyInfoDiv .nameHover:hover{
    color: #1BFF00;
}
.socialLinkBox{
    height: 50%;
    width: 100%;
    /* background-color: rgb(73, 171, 201); */
}